<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- Servlets -->
	<servlet>
		<servlet-name>SolarInverterClient</servlet-name>
		<servlet-class>com.anonymous.solar.server.SolarInverterClient</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SolarInverterClient</servlet-name>
		<url-pattern>/SolarInverterClient</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SolarPanelsClient</servlet-name>
		<servlet-class>com.anonymous.solar.server.SolarPanelsClient</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SolarPanelsClient</servlet-name>
		<url-pattern>/SolarPanelsClient</url-pattern>
	</servlet-mapping>
	
	<!--  Location Information Servlet -->
	<servlet>
		<servlet-name>LocationInformation</servlet-name>
		<servlet-class>com.anonymous.solar.server.LocationInformationSOAPServerServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LocationInformation</servlet-name>
		<url-pattern>/LocationInformationService</url-pattern>
	</servlet-mapping>
	
	<!-- Panel Information Servelet -->
	<servlet>
		<servlet-name>SpanelInfo</servlet-name>
		<servlet-class>com.anonymous.solar.server.SPanelSOAPServerServelet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SpanelInfo</servlet-name>
		<url-pattern>/SPanelService</url-pattern>
	</servlet-mapping>
	
	<!-- Inverter Information Servelet -->
	<servlet>
		<servlet-name>SInverterInfo</servlet-name>
		<servlet-class>com.anonymous.solar.server.SInverterSOAPServerServelet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SInverterInfo</servlet-name>
		<url-pattern>/SInverterService</url-pattern>
	</servlet-mapping>
	
	<!-- Main Calculation Engine Servelet -->
	<servlet>
		<servlet-name>SolarCalculatorService</servlet-name>
		<servlet-class>com.anonymous.solar.server.SolarCalculatorSOAPServerServelet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SolarCalculatorService</servlet-name>
		<url-pattern>/SolarCalculatorService</url-pattern>
	</servlet-mapping>
		

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>panels.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

</web-app>